@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-main: var(--font-press-start);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background:linear-gradient(135deg, rgb(10, 14, 39) 0%, rgb(26, 31, 58) 50%, rgb(42, 26, 58) 100%);;
  color: var(--foreground);
  font-family: var(--font-main);
}

/* globals.css */
@keyframes glowPulse {
  0%, 100% {
    box-shadow: 0 0 10px rgba(0,255,136,0.5), 0 0 0px rgba(0,255,136,0.5), 0 0 0px rgba(0,255,136,0.5);
  }
  50% {
    box-shadow: 0 0 10px rgba(0,255,136,0.5), 0 0 0px rgba(0,255,136,0.5), 0 0 60px rgba(0,255,136,0.5);
  }
}

.glow-pulse {
  animation: glowPulse 5s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes float{
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.float-title {
  animation: float 4s ease-in-out infinite;
}